body{
    overflow-x: hidden;
}
.bg-image{
    height: 700px;
    width: 99vw;
    position:absolute ;
    z-index: -1;
    top: 0;
    filter: brightness(40%);
}
.text{
    font-size: 5rem;
    color: white;
    text-align: center;
    margin-top: 100px;
}
span{
    color: orange;
}
.logo{
    margin-top: 5px;
}
.top-head{
    display: flex;
    background-color: rgba(0, 0, 0, 0.163);
    height: 60px;
    position: relative;
    bottom: 10px;
    justify-content: space-around;
    gap: 320px;
}
.name>h2{
    color: white;
    position: relative;
    bottom: 5px;
}
.head{
    display: flex;
}
.menus>ul{
    display: flex;
    gap: 30px;
 }
.menus>ul>li{
    list-style-type: none;
    font-size: 25px;
}
.menus>ul>li>a{
    text-decoration: none;
    color: white;
}
ul>button{
    height: 40px;
    width: 8vw;
    border: none;
    background-color: orange;
    border-radius: 5px;
    font-size: 1rem;
    position: relative;
    bottom: 5px;
    font-weight: bold;
    right: 10vw;
    left: 5px;

}
.about-india{
    width: 60vw;
    margin: auto;
    color: white;
    font-size: 17px;
    text-align: center;
    position: relative;
    bottom: 30px;
}
.search-bar{
    height: 180px;
    width: 60vw;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.316);
   margin-top: 20px;
    
}
.heading>span{
    font-size: 28px;
    color: white;
    position: relative;
    top: 50px;
}
input{
    height: 40px;
    width: 15vw;
    margin-top: 60px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.303);
    border: none;
    border-radius: 5px;
}
::placeholder{
    color: black;
    padding: 5px;
    font-weight: bold;
}
.destination{
    margin-left: 60px;
}
.checkin{
    margin-left: 120px;
}
.travels{
    margin-left: 170px;
}
.btn{
    height: 40px;
    width: 150px;
    position: relative;
    
    background-color: orange;
    font-size: 17px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.iconic-destination{
    position: relative;
    top: 180px;
    width: 80vw;
    margin: auto;
    text-align: center;
}
.iconic-destination> h2{
    font-size: 3rem;
    font-weight: bolder;
}
.about-iconic{
    width: 60vw;
    margin: auto;
    position: relative;
    bottom: 20px;
}
.image-box{
    display: flex;
    gap: 40px;
}
.box>img{
    height: 300px;
    width: 400px;
    position:absolute;
    top:60pc;
    left:5pc;
    z-index: -1;
    filter: brightness(70%);
    border-radius: 10px;

}
.box2>img{
    height: 300px;
    width: 400px;
    position:absolute;
    top:60pc;
    left:35pc;
    z-index: -1;
    filter: brightness(80%);
    border-radius: 10px;
}
.box3>img{
    height: 300px;
    width: 400px;
    position:absolute;
    top:60pc;
    left:65pc;
    z-index: -1;
    filter: brightness(40%);
    border-radius: 10px;
}
.box{
    width: 23vw;
    margin-top: 300px;
    margin-left: 100px ;
    color: white;
}
.box>h3{
    font-size: 30px;
}
.box>.btn{
    height: 40px;
    width: 88px;
    margin-top: 10px;
    transition:1s;
    cursor: pointer;
}
.box>.btn:hover{
   margin-left: 20px;
}
.box2{
    width: 23vw;
    margin-top: 300px;
    margin-left: 100px ;
    color: white;
}
.box2>h3{
    font-size: 30px;
}
.box2>.btn{
    height: 40px;
    width: 88px;
    margin-top: 10px;
    transition:1s;
    cursor: pointer;
}
.box2>.btn:hover{
   margin-left: 20px;
}
.box3{
    width: 23vw;
    margin-top: 300px;
    margin-left: 100px ;
    color: white;
}
.box3>h3{
    font-size: 30px;
}
.box3>.btn{
    height: 40px;
    width: 88px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}
.box3>.btn:hover{
   margin-left: 20px;
}
.box4>img{
    height: 300px;
    width: 400px;
    position:absolute;
    top:82pc;
    left:5pc;
    z-index: -1;
    filter: brightness(40%);
    border-radius: 10px;
}
.box4{
    width: 23vw;
    margin-top: 130px;
    margin-left: 100px ;
    color: white;
}
.box4>h3{
    font-size: 30px;
}
.box4>.btn{
    height: 40px;
    width: 88px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
    
}
.box4>.btn:hover{
   margin-left: 20px;
}

.box5>img{
    height: 300px;
    width: 400px;
    position:absolute;
    top:82pc;
    left:35pc;
    z-index: -1;
    filter: brightness(40%);
    border-radius: 10px;
}
.box5{
    width: 23vw;
    margin-top: 130px;
    margin-left: 100px ;
    color: white;
}
.box5>h3{
    font-size: 30px;
}
.box5>.btn{
    height: 40px;
    width: 88px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}
.box5>.btn:hover{
   margin-left: 20px;
}
.box6>img{
    height: 300px;
    width: 400px;
    position:absolute;
    top:82pc;
    left:65pc;
    z-index: -1;
    filter: brightness(40%);
    border-radius: 10px;
}

.box6{
    width: 23vw;
    margin-top: 130px;
    margin-left: 100px ;
    color: white;
}
.box6>h3{
    font-size: 30px;
}
.box6>.btn{
    height: 40px;
    width: 88px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s
    ;
}
.box6>.btn:hover{
   margin-left: 20px;
}
.experience{
    background-color: rgb(236, 236, 190);
    margin-top: 100px;
    height: 550px;
   
}
.experience>h3{
    text-align: center;
    font-size: 3rem;
    padding: 30px;
    font-weight: bolder;
}
.experience>p{
    text-align: center;
    position: relative;
    bottom: 70px;

}
.snippet-head{
    display: flex;
    gap: 30px;
    
}
.snippet{
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 35px;
    position: relative;
    bottom: 20px;
    left: 120px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    transform: 1sec;
}
.snippet:hover{
    margin-top: 50px;
    transform: 1sec;
}
.snippet>h3{
    font-size: 1.5rem;
}
.snippet>p{
    position: relative;
    bottom: 10px;
}
.learn-more{
    font-size: 20px;
}
.learn-more>a>i{
    font-size: small;
    margin-left: 10px;
    
}
.learn-more>a{
    text-decoration: none;
    color: rgb(255, 132, 0);
    font-weight: bolder;
}
.visual-journey{
    background-color: black;
    height:950px;
}
.visual-journey>h3{
    font-size: 3rem;
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
}
.visual-journey>p{
    color: white;
    text-align: center;
}
.imagee{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 30px;
    margin-top: 100px;
}
.imagee>img{
    border-radius: 10px;
    
}
.button{
    height: 40px;
    width: 130px;
    margin: auto;
    margin-top: 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
 
}
.button>a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.map>img{
    height: 500px;
    width: 50vw;
    margin-left: 30vw;
    margin-top: 50px;
}
.map-box{
    height: 250px;
    width: 330px;
    position: absolute;
    background-color:white;
    box-shadow: 10px 10px 45px;
    top: 15px;
    top: 225pc;
    left: 50px;
    padding: 20px;
    border-radius: 10px;
}
.map-box>h4{
    font-size: 28px;
    font-weight: bolder;
}
.map-box>p{
    position: relative;
    bottom: 20px;
}
.plan{
    height: 35px;
    width: 150px;
    background-color: rgb(255, 157, 0);
    border: none;
    border-radius: 5px;
}
.plan>a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
.north-india{
    height: 250px;
    width: 400px;
    margin-top: 150px;
    box-shadow: 10px 10px 45px;
    padding: 20px;
    margin-left: 50px;
    border-radius: 10px;
}
.india{
    display: flex;
    
}
.north-india>h4{
    font-size: 28px;
    font-weight: bolder;
}
.north-india>p{
    position: relative;
    bottom: 20px;
}
.discover{
    height: 40px;
    width: 160px;
    border: 2px solid orange;
    background-color: white;
    border-radius: 5px;
}
.traveler-story{
    height: 500px;
}
.traveler-story>h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
    
}
.traveler-story>p{
    text-align: center;
    position: relative;
    bottom: 20px;
}
.traveler-box{
    display: flex;
    gap: 10px;
    height: 200px;
    width: 350px;
    padding: 20px;
    box-shadow: 10px 10px 40px;
    margin-top: 50px;
    border-radius: 10px;
}
.travel>img{
    border-radius: 50px;
}
.tra{
    display: flex;
    gap: 30px;
    margin-left: 140px;
}
.imagee>img{
    transition:0.5s ;
}
.imagee>img:hover{
    transform: scale(.9);
}
.story>i{
    color: orange;
}
.ready{
    height: 230px;
    background-color: orange;
}
.ready>h2{
    font-size: 3rem;
    text-align: center;
    padding: 50px;
}
.ready>p{
    position: relative;
    bottom: 80px;
    text-align: center;
}
.trip{
    height: 40px;
    width: 180px;
    position: relative;
    bottom: 70px;
    margin-left: 42vw;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}
.incredible-india{
    background-color: rgb(1, 1, 35);
    height: 500px;
    display: flex;
    gap: 50px;
    padding: 50px;
}
.name{
    width: 300px;
}
.lorem{
    color: rgb(180, 178, 178) ;
    line-height: 1.5;
}
.icons>i{
    color: white;
    margin-left: 10px;
    font-size: 22px;
}
.destination{
    margin-left: 80px;
}
.destination>h2{
    color: white;
}
.list{
    color:rgb(180, 178, 178) ;
    line-height: 1.9;
}
.contact{
    color:rgb(180, 178, 178) ;
    margin-left: 120px;
}
.contact>h2{
    color: white;
    margin-left: 0px;
    
}
.us{
    line-height: 1.9;
}
.contact-button{
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    font-weight: bolder;
}