body {
    background-color: rgb(117, 117, 186);
    display: flex;
}

.container {
    height: 530px;
    width: 400px;
    background-color: black;
    border-radius: 25px;
    padding: 25px;
    margin: auto;
    margin-top: 80px;
    box-shadow:  0 0 12px black;
}

button {
    height: 50px;
    width: 50px;
    background-color: grey;
}

input {
    height: 100px;
    width: 100%;
}

.display {
    width: 100%;
    height: 70px;
    background: #000;
    color: white;
    font-size: 2rem;
    border: none;
    outline: none;
    text-align: right;
    padding: 12px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: inset 0 0 12px rgba(0, 255, 255, .4);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px; 
    box-shadow:0 4px 10px rgba(0,0,0,.7);
}

button {
    height: 70px;
    width: 90%;
    border: none;
    border-radius: 50%;
    font-size: 1.3rem;
    cursor: pointer;
    background: #1b1b1b;
    color: #fff;
    transition: .2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
}

button:hover {
    transform: scale(1.06);
}
  .operator{
    background:linear-gradient(135deg,#ff9800,#ffc107);
    color:#000;
    font-weight:bold;
  }

  .percent{
    background-color: grey;
    color: black;
    font-weight:bold;
  }

  .clear{
    background-color: grey;
    color: black;
    font-weight:bold;
  }

  .back{
    background-color: grey;
    color: black;
    font-weight:bold;
  }

  .equal{
    grid-column:span 2;
    background:linear-gradient(135deg,#ff9800,#ffc107);
    color:#000;
    font-weight:bold;
    border-radius: 25px;
  }