*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Arial', sans-serif;
}

body{
  margin-top: 50px;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #2c2c7a;  /* dark bg like image */
}

.page{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.todo-card{
  width: 600px;
  background: #fff;
  border-radius: 22px;
  padding: 25px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.title{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 15px;
}

.title h2{
  font-size:2.6rem;
  color:#2c2c7a;
}

.icon{
  font-size: 20px;
}

.input-area{
  display:flex;
  gap:10px;
  margin-bottom: 18px;
}

#todoInput{
  flex:1;
  padding: 10px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  outline:none;
}

#addBtn{
  padding: 10px 18px;
  width: 120px;
  background: #ff4d4d;
  border:none;
  border-radius: 20px;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}

#todoList{
  list-style:none;
  padding:0;
}

.todo-item{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:#f7f7f7;
  padding: 10px 12px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.todo-item span{
  flex:1;
  margin-left: 12px;
  color:#333;
}

.check{
  width: 18px;
  height: 18px;
  border: 2px solid #a1a1a1;
  border-radius: 50%;
  cursor:pointer;
}

.check.active{
  background:#ff4d4d;
  border-color:#ff4d4d;
}

.delete{
  margin-left: 12px;
  color:#555;
  cursor:pointer;
  font-weight:bold;
}
