body{
  scroll-behavior: smooth;
  


}

/* HERO SECTION MOBILE RESPONSIVE */
@media (max-width: 768px) {

  .hero {
    padding: 60px 15px;
    text-align: center;
  }

  .my-details h1 {
    font-size: 28px;
    line-height: 1.3;
  }

  .my-details h5 {
    font-size: 15px;
    margin-top: 10px;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .buttons-wrapper a {
    width: 200px;
    text-align: center;
  }

  .contact-strip {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .divider {
    display: none;
  }

  .contact-item h6 {
    font-size: 14px;
  }

  .contact-item p {
    font-size: 13px;
  }
}



@media (max-width: 768px) {

  /* NAVBAR */
  .navbar-brand {
    font-size: 20px;
  }

  /* HERO */
  .hero {
    padding-top: 100px;
    text-align: center;
  }

 
  .buttons-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .buttons-wrapper a {
    width: 100%;
  }

  /* CONTACT STRIP */
  .contact-strip {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .divider {
    display: none;
  }

  /* ABOUT */
  .heading {
    font-size: 20px;
    text-align: center;
  }

  .containerx {
    margin-bottom: 40px;
  }

  /* SKILLS */
  .skill-card {
    padding: 20px;
  }

  /* PROJECTS */
  .project-card {
    text-align: center;
  }

  /* CONTACT FORM */
  .form-box {
    width: 100%;
  }

}
@media (max-width: 992px) {

  .my-details h1 {
    font-size: 30px;
  }

  .contact-strip {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .project-card h4 {
    font-size: 18px;
  }
}
.click-btn {
  display: inline-block;
  text-align: center;
}

/* LOGO */
.navbar-brand span {
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
  color: #272757;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.menu ul li a:hover {
  color: #272757;
}

/* BUTTON */
.enroll-btn {
  background: linear-gradient(135deg, #272757, #505081);
  color: #fff;
  border-radius: 30px;
  padding: 10px 22px;
  font-weight: 600;
}

/* HERO SECTION */
.hero {
  position: relative;
  height: 100vh;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backdrop-filter: blur(10px);
}

/* HERO TEXT */
.hero-content {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 800;
}

/* TABLET */
@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 3rem;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .hero {
    height: 70vh;
  }

  .hero-content {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }
}

.btn {
  background-color: #3f3fb3;
  color: white;
}

.btn:hover {
  background-color: #0F0E47;
}

.my-details {
  cursor: pointer;
  margin-top: 150px;
}

.click-btn {
  display: flex;
  width: 150px;
  height: 50px;
  background-color: #272757;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 35px;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .buttons-wrapper {
    justify-content: center;
  }
}

.btn-style1 {
  color: white;
  position: relative;

  &:hover {
    transform: translateY(-0.25em);
    border-color: cover-color;
    color: cover-color;

    &::before {
      opacity: 1;
    }
  }

  &::before {
    width: 100%;
    height: 1em;
    position: absolute;
    left: 0;
    bottom: -1.35em;
    background: radial-gradient(ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%);
    opacity: 0;
    transition: all 0.65s;
    content: "";
  }
}

.btn-style2 {
  color: white;
  position: relative;

  &:hover {
    transform: translateY(-0.25em);
    border-color: cover-color;
    color: cover-color;

    &::before {
      opacity: 1;
    }
  }

  &::before {
    width: 100%;
    height: 1em;
    position: absolute;
    left: 0;
    bottom: -1.35em;
    background: radial-gradient(ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%);
    opacity: 0;
    transition: all 0.65s;
    content: "";
  }
}
.contact-strip {
  padding: 30px 20px;
  display: flex;
  gap: 40px;
  color: #fff;
  flex-wrap: wrap;
}
.contact-item >h6{
  font-size: 1.5rem;
}
.divider {
  width: 2px;
  height: 60px;
  background-color: #555;
  
}
.personal-img{
  width: 400px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.content{
  border-left: 2.5px solid #272757;
  position: relative;
}
.content .dot{
  position: absolute;
  left: -8px;   
  height: 16px;
  width: 16px;
  background-color: #020226;
  border-radius: 50%;
  z-index: 2;
}

.title .heading{
  background: linear-gradient(#7678f5, #020226);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 2rem;
}
.card h5{
  color: #272757;
  font-weight: bold;
}
.about{
  cursor: pointer;
}

.content .card{
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}
.card:hover{
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.card{ 
  position: relative;
  padding-left: 40px;
  margin-bottom: 40px;
}
.about-me h1{
  background: linear-gradient(#7678f5, #020226);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 3rem;
}


@keyframes fillBar {
  from {
    width: 0;
  }
}
/* SKILL SECTION */
.skill-card {
  background:#272757;
  color: #fff;
  padding: 40px;
  border-radius: 25px;
  margin-top: 80px;
}

.skill-card h3 {
  color: #fff;
  font-weight: bold;
}

.skill {
  margin-bottom: 25px;
}

.skill-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.skill-head i {
  font-size: 20px;
  margin-right: 8px;
}

.skill-head span:nth-child(2) {
  flex: 1;
  margin-left: 10px;
}

/* Progress bar */
.bar {
  width: 100%;
  height: 6px;
  background: #2b2b2b;
  border-radius: 10px;
  margin-top: 6px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: linear-gradient(90deg, #8b5cf6, #6366f1);
  animation: grow 2s ease forwards;
}

/* Widths */
.html-fill { width: 80%; }
.css-fill { width: 75%; }
.js-fill { width: 65%; }
.python-fill { width: 70%; }
.php-fill { width: 60%; }
.bootstrap-fill { width: 85%; }

/* Icon colors */
.html { color: #e34c26; }
.css { color: #2965f1; }
.js { color: #f7df1e; }
.python { color: #3776ab; }
.php { color: #8993be; }
.bootstrap { color: #7952b3; }

@keyframes grow {
  from { width: 0; }
}

/* Responsive */
@media (max-width: 768px) {
  .skill-card {
    padding: 25px;
  }
}


.contact-section h1 {
   background: linear-gradient(#7678f5, #020226);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: 100px;
}

.form-control {
  border-radius: 8px;
}
.form-box{
  width:60vw;
  margin: auto;
}
.social-links a {
  text-decoration: none;
  font-size: 2rem;
  color: #272757;
  transition: 0.3s;
}

.social-links a:hover {
  transition: ease-in-out;
}
.projects h2 {
   background: linear-gradient(#7678f5, #020226);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: 100px;
}

.project-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px #272757;
  text-align: center;
  transition: 0.3s;
  height: 100%;
  border: 2px solid #272757;
  margin-top: 50px;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.project-card h4 {
  margin-top: 15px;
  color: #272757;
}

.project-card p {
  font-size: 14px;
  color: #555;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #272757;
  font-weight: 600;
  text-decoration: none;
}

#vanta-bg {
  width: 100%;
  height: 100vh;
  color: white;
}













